<div class="row">
  <div class="large-8 columns large-offset-2">
    <h1>Edit Campaign</h1>    
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @listing %> |
<%= link_to 'Back', listings_path %>
